# Sets in Python

<h2 id="quiz">Quiz on Sets</h2>

Convert the list <code>\['rap','house','electronic music', 'rap']</code> to a set:

In [1]:
set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

Consider the list <code>A = \[1, 2, 2, 1]</code> and set <code>B = set(\[1, 2, 2, 1])</code>, does <code>sum(A) == sum(B)</code>?

In [3]:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print(sum(A))
print(sum(B))
# sum(A) != sum(B)

6
3

Create a new set <code>album_set3</code> that is the union of <code>album_set1</code> and <code>album_set2</code>:

In [4]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [6]:
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}